.idea/*
venv/*
.history/*
.vscode/*
.run/*
.pytest_cache/*
*.pyc
*.pyo
*.egg-info
*.cache
*.dist
*.log
*.xcfg
*.pcap
*.xml
*.coverage
*.html
*.db
*.robot
build/bdist*
build/bin*
build/lib*
build/build*
build/dist*
dist/*